.thumb
.pointer

/ ko if: isBusy
.overlay
    .loader
/ /ko

/ ko if: beingEdited
.milestone-form-wrapper{'data-bind' => 'template: { name: "milestone_form_tmpl", data: $data} '}
/ /ko

/ ko ifnot: beingEdited
%h1{'data-bind' => "text: title"}
%div
    %p.description{'data-bind' => 'text: description'}
.milestone-footer
    .milestone-controls.rfloat

        / ko if:editable
        %a.edit-thumb{'data-bind' => 'click: startEdit'}
            %i.fa.fa-edit
        / /ko

        / ko if:deletable
        %a.del-thumb{'data-bind' => 'click: startDelete'}
            %i.fa.fa-trash-o
        / /ko

    .resource-thumb
        %a.resource-num{'data-bind' => 'text: learningResources().length + " resources", click: toggleResourceList'}
        %a.resource-create-thumb{'data-bind' => 'click: toggleNewResourceForm'}
            %i.fa.fa-plus-circle

    / ko if:resourcesTab()
    .resource-dropdown
        .arrow

        / ko if:resourcesTab() === 'list'
        %h2
            %a{'data-bind' => 'click: closeDropdown'}
                %i.rfloat.fa.fa-times-circle
            Learning resources to help you complete this milestone :

        .resource-list-wrapper
            / ko if: learningResources().length > 0
            %ul.resource-list{'data-bind' => 'foreach: learningResources()'}
                %li
                    %a{'data-bind' => 'attr: { href: url }, text: title'}
                    %p{'data-bind' => 'text: description'}
            / /ko

            / ko if: learningResources().length == 0
            .zilch-msg
                .smiley :(
                No resources yet.
                %a{'data-bind' => 'click: toggleNewResourceForm'} Add something
            / /ko

        / /ko

        / ko if:resourcesTab() === 'create'
        %h2
            %a{'data-bind' => "click: closeDropdown"}
                %i.rfloat.fa.fa-times-circle
            Add a new Resource:
        .resource-form-wrapper{'data-bind' => 'template:{ name: "lr_form_tmpl", data: freshResource() }' }
        / /ko
    / /ko
/ /ko
.side-container{'data-bind' => 'template: { name: "milestone_sidebar_container_tmpl", data: $data }'}
