col-red-prime = #CF0018
col-orange-prime = #F6D76D


// Final list:
// -----------

col-bkg-prim = #FAF9F7
col-bkg-sec = #F0EFED
col-bkg-aux = #FAFAFA
col-border-light = #E6E6E6
col-border-med = #C9C9C9
col-green-prim = #AAD400
col-red-prim = #CF0019
col-yellow-prim = #FFDF0D
