//= require ./pure_customizations

@import './mixins/colors'

hdr-h = 40px
ftr-h = 30px

html
  background #333

html, body
  height 100%
  width 100%
  margin 0
  padding 0
  overflow-x hidden

a
  text-decoration none
  cursor pointer

#dashboard
  overflow hidden
  font-family: 'Raleway', sans-serif
  background #D9D9D9

  header
    height hdr-h
    background #E6E6E6
    border-bottom 2px solid #C8C8C8
    overflow hidden
    h1
      a
        color col-red-prime
      line-height hdr-h
      padding-left 20px
      font-weight bold
      margin 0
      font-size 1em
    #search-form
      float left
      font-size 0.7em
      height (hdr-h - 20px)
      line-height (hdr-h - 20px)
      margin 10px
      overflow hidden
      border 1px solid #C8C8C8
      border-radius ((hdr-h - 20px)/2)
      padding 0 ((hdr-h - 20px)/2)
    .prime
      background #C8C8C8
      border-top 2px solid #545454
      color #333
      display inline-block
      font-size 0.8em
      height hdr-h
      line-height hdr-h
      padding 0 10px
      margin-right 20px
  .body
    overflow auto
  footer
    height ftr-h
    line-height ftr-h
    font-size 0.8em
    text-align center
    background #C8C8C8

  #new-track-form
    position absolute
    top hdr-h
    right 10px
    background white
    border 1px solid #C8C8C8
    border bottom 2px solid #C8C8C8
    padding 10px

.loader
  background url('/assets/loader.gif') no-repeat center center
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
  padding: 5px;
  background-color: black;
  border-radius: 4px;
  opacity: 0.7;
  width 32px
  height 32px

.overlay
  position absolute
  for dir in top left right bottom
    {dir} 0
  background rgba(0,0,0,0.3)


a:hover i.fa
  color #CF0018 !important

.blk
  display block
.inline
  display inline