#introduction
  %p
    Your workflow at dexterous revolves around Exploration tracks.
  %section.step{'data-step' => 1}
    %p.main
      An exploration track, or simply a track, is a sequence of milestones
      that one can follow to acquire a certain level of expertise in a
      field of choice.
  %section.step{'data-step' => 2}
    %p.main
      Each milestone can be associated with several learning resources, like
      links to websites, encyclopedia, documents or videos which may help you
      complete the milestones.
  %section.step{'data-step' => 3}
    %p.main
      While dexterous does not mandate any strict schedule and you can follow
      tracks at your own pace, you can, in order to manage your time,
      associate milestones with expected completion times.
  %section.step{'data-step' => 4}
    %p.main
      Dexterous provides you simple and straightforward interfaces to manage
      your tracks and monitor your progress with time.
  %section.step{'data-step' => 5}
    %p.main
      Now you know all that you need to get started with dexterous. You may
      want to:
    %p
      = link_to 'Create a track', controller: 'tracks', action: 'new'
    %p
      = link_to 'Explore tracks', controller: 'tracks', action: 'new'
