- content_for :head do
    = stylesheet_link_tag 'home/dashboard', media: :all
    = javascript_include_tag "home/dashboard"

/
    - if @enrollments.length == 0
        = render partial: 'introduction'

#sidebar
    #user-
        %header
            %h1= current_user.name
        .body
#main
    %header

    %footer
        Dexterous is an experiment by <a href="http://twitter.com/lorefnon">@lorefnon</a>
