%h1 Dexterous
%h2 Time and Resource planner for motivated self-learners

%ul
  %li.rounded
    %a{href: '/home/tour'} Take the tour
  %li.rounded
    %a{href: '/users/sign_up'} Sign Up
    %a{href: '/users/sign_in'} Sign In

