/*
 *= require font-kit-rails/ubuntu
 *= require fff-tusj/stylesheet
 *= require_tree .
 *= require_self
 */

blue-prime = #0090FF
blue-dark = #0C2979

body
  font-family 'Ubuntu'
  font-size 100%
  background white
html, body
  height 100%
  width 100%
#main-banner
  position absolute
  top 50%
  right 5em
  margin-top -60px
  h1
    color blue-prime
    font-size 3em
    padding-bottom 0.3em
  h2
    color silver
    font-size 2em
    padding-bottom 0.5em
  h1, h2
    text-align right
#nav-main
  float right
  padding-top 0.5em
  li
    float right
    border 2px solid blue-prime
    border-radius 1em
    margin 0 0.5em
    a
      text-decoration none
      line-height 1.6em
      font-size 1em
      display inline-block
      padding 0 1em
      border-left 2px solid blue-prime
      color blue-prime
    a:first-child
      border-left none
