/*
 *= require fff-tusj/stylesheet
 *= require_tree .
 *= require pure
 *= require_self
 */

blue-prime = #0090FF
blue-bright = #328EFE
blue-decent = #53B3D9
blue-dark = #0D6289

body
  font-family: 'Raleway', sans-serif
  font-size 100%
  background #D9D9D9
html, body
  height 100%
  width 100%
  margin 0
  padding 0
#banner
  background #333
  background -moz-radial-gradient(center, ellipse cover, #333 0%, #000 100%)
  background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#333), color-stop(100%,#000))
  background -webkit-radial-gradient(center, ellipse cover, #333 0%,#000 100%)
  background -o-radial-gradient(center, ellipse cover, #333 0%,#000 100%)
  background -ms-radial-gradient(center, ellipse cover, #333 0%,#000 100%)
  background radial-gradient(center, ellipse cover, #333 0%,#000 100%)
  border-bottom 3px solid #C8C8C8

  .inner-1
    background url('/assets/stripes.png')

    .inner-2
      background url('/assets/noise.png')

      .inner-3
        padding 180px 0
        width 80%
        margin 0 auto
        h1
          font-size 4.5em
          margin 0
          color white
          font-weight 400
          padding-bottom 20px
        h2
          font-size 2.1em
          color #E6E6E6
          font-weight 200


#nav-main
  float right
  padding-top 1em
  li
    float right
    border 2px solid blue-prime
    border-radius 1em
    margin 0 0.5em
    background: #7cb4df;
    border-color: #5d91b8;
    box-shadow: inset #a8d3dd 0 1px 0;
    a
      text-decoration none
      line-height 1.6em
      font-size 1em
      display inline-block
      padding 0 1em
      border-left 2px solid #A8D3DD
      color white
    a:first-child
      border-left none

.rfloat
  float right
.lfloat
  float left
.hidden
  display none
