hdr-h = 40px
ftr-h = 30px
col-ruby = #A52103

#dashboard
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  font-family sans-serif
  background #D9D9D9

  header
    position absolute
    left 0
    right 0
    top 0
    height hdr-h
    background #E6E6E6
    border-bottom 2px solid #C8C8C8
    overflow hidden
    h1
      color col-ruby
      line-height hdr-h
      padding-left 20px
      font-weight bold
    .prime
      background #333333 linear-gradient(to bottom, #333333, #545454)
      border-top 2px solid #545454
      color #E6E6E6
      display block
      line-height hdr-h
      font-size 0.8em
      height hdr-h
      line-height hdr-h
      color white
      padding 0 10px
      margin-right 20px
  .body
    position absolute
    left 0
    right 0
    top hdr-h
    bottom ftr-h
  footer
    height ftr-h
    position absolute
    left 0
    right 0
    bottom 0
    background #C8C8C8
