hdr-h = 40px
ftr-h = 30px

col-ruby = #CF0018
col-orange = #F6D76D

#dashboard
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
  font-family: 'Raleway', sans-serif
  background #D9D9D9

  header
    position absolute
    left 0
    right 0
    top 0
    height hdr-h
    background #E6E6E6
    border-bottom 2px solid #C8C8C8
    overflow hidden
    h1
      color col-ruby
      line-height hdr-h
      padding-left 20px
      font-weight bold
      margin 0
      font-size 1em
    #search-form
      float left
      font-size 0.7em
      height (hdr-h - 20px)
      line-height (hdr-h - 20px)
      margin 10px
      overflow hidden
      border 1px solid #C8C8C8
      border-radius ((hdr-h - 20px)/2)
      padding 0 ((hdr-h - 20px)/2)
    .prime
      background #C8C8C8
      border-top 2px solid #545454
      color #333
      display inline-block
      font-size 0.8em
      height hdr-h
      line-height hdr-h
      padding 0 10px
      margin-right 20px
  .body
    position absolute
    left 0
    right 0
    top hdr-h
    bottom ftr-h
    overflow auto
  footer
    height ftr-h
    line-height ftr-h
    font-size 0.8em
    position absolute
    left 0
    right 0
    bottom 0
    background #C8C8C8

  #new-track-form
    position absolute
    top hdr-h
    right 10px
    background white
    border 1px solid #C8C8C8
    border bottom 2px solid #C8C8C8
    padding 10px

#track-creation-wizard
  width  80%
  margin 100px auto
  background white
  border-top col-orange 4px solid
  .wizard-title
    h1
      text-align center
      line-height 2.5em
      margin 0
      padding 0
      color col-ruby
  .wizard-body
    padding 10px
    min-height 300px
    text-align center
    label
      font-size 2em
      display block
      margin-top 30px
    input, textarea
      margin 20px 0
  .wizard-footer
    height 1em
