/*
 *= require ../application
 */

@import '../mixins/dashboard'

.wizard
    background: white;
    width: 80%;
    margin: 30px auto;
    border: 2px solid #C8C8C8;
    padding: 10px;
    text-align center

    .wizard-title
        h1
            color #CF0920
            font-size 1.3em
            padding-bottom 10px
            border-bottom 1px solid #E6E6E6
    .wizard-footer
        margin-top 30px
        border-top    1px solid #E6E6E6
        padding-top 10px
    .wizard-body form section
        font-size 1.5em
        input[type='text'], textarea
            padding 10px
        label.blk
            padding-bottom 10px
    .final
        background #CF0920
        border-radius 10px
        line-height 20px
        font-size 1em
        color white
