/*
 *= require ../application
 */
 
@import '../mixins/dashboard'

#track-creation-wizard
  width  80%
  margin 100px auto
  background white
  border-top col-orange-prime 4px solid
  .wizard-title
    h1
      text-align center
      line-height 2.5em
      margin 0
      padding 0
      color col-red-prime
  .wizard-body
    padding 10px
    text-align center
    label
      font-size 2em
      display block
      margin-top 30px
    .select-wrapper
      margin 10px auto
    input[type='text'], input[type='password'], textarea
      margin 20px 0
      border 1px dashed #C8C8C8
      width 80%
      box-shadow none
      background transparent
      font-size 1.5em
      line-height 1.5em
      text-align center
      outline 0
      border-bottom 1px solid #C8C8C8
      &:focus
        border-bottom 1px solid col-red-prime
  .wizard-footer
    padding-bottom 10px
    text-align center
    .pure-button-secondary
      margin-right 10px

.select-wrapper
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("/assets/arrowdown.gif") no-repeat 90% 50%;
  select
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
  select:focus
    outline: none;

.track-wrapper
  width 300px
  float left
  position relative
  .track-inner
    position absolute
    background #FAF9F7
    top 10px
    left 10px
    right 10px
    bottom 10px
    & > header, & > footer
      left 0
      right 0
      position absolute
      height 30px
    & > header
      top 0
    & > footer
      bottom 0
    & > .body
      position absolute
      left 0
      right 0
      top 30px
      bottom 30px

#track-wrapper
  width 90%
  margin 10px auto
  text-align center
  color #333
  font-weight 100

#track-title
  font-weight bold

#timeline
  min-height 300px
  width 90%
  margin 0 auto
  position relative
  background #FAFAFA
#spine
  width 0
  border-right 3px solid #E3E3E3
  position absolute
  left 100px
  top 0
  bottom 0
#milestones
  margin 20px 0
  padding 10px 0
  & > ul
    list-style-type none
    margin 0
    padding 0
    & > li
      margin 0 200px 10px (100px+30px)
      border-left #c8c8c8 4px solid
      background #FFFFFF
      .milestone-controls
        display none
        color #A8A8A8
      &:hover .milestone-controls
        display block
      .description
        padding 10px 0
        margin 0
      
      .thumb
        background url('/assets/milestone_circle.png') center center no-repeat
        width 21px
        height 21px
        position absolute
        top 10px
        left -43px
      .pointer
        height 0
        width 0
        border 6px solid transparent
        border-right 6px solid #C8C8C8
        position absolute
        top 15px
        left -16px
      h1
        padding 0
        margin 0
        border-bottom 1px solid #E6E6E6
        font-size 16px
        padding-bottom 10px
.milestone-inner
  padding 10px
  position relative
  for dir in top right bottom
    border-{dir} #E6E6E6 1px solid
.side-container
  position absolute
  right -200px
  font-size 0.7em
  top 0
  margin 0
  padding 0
  width 190px
  .timestamp-container
    padding-bottom 10px
    color gray
    label
      font-weight 100
.resource-thumb
  background #E6E6E6
  border-radius 15px
  font-size 0.8em
  color #333333
  padding 0 12px
  display inline-block
  .resource-num
    padding-right 10px
    border-right 1px solid #333333
    margin-right 5px
    line-height 20px
.resource-create-thumb:hover i
  color #CF0018
.resource-thumb:hover
  background #FEE0A2    
.resource-num:hover
  color #CF0018
.milestone-footer
  padding-top 10px
  border-top #FAFAFA 1px solid
  text-align right

.resource-dropdown
  border 1px solid #E6E6E6
  background #FAFAFA
  margin-top 10px
  font-size 0.8em
  padding 0
  position relative

  .arrow
    width 0
    height 0
    border 7px solid transparent
    position absolute
    border-bottom 7px solid #E6E6E6
    position absolute
    right 20px
    top -15px
  h2
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.9em;
    font-weight: 400;
    text-align: left;
    padding: 0 10px;
    i
      margin-top 4px

.inline-form
  input[type='submit'], button
    background   #E6E6E6
    color #000
    padding 5px 17px 
    border none
    border-radius 17px
  input[type='submit']:hover
    background green
    color white
  .cancel-btn:hover
    background red
    color white
  
  input, textarea
    box-shadow none !important

  .row-title, .row-url, .row-description
    background white
  .row
    width 100%
    min-height 30px
    border-bottom 1px dashed #E6E6E6    
    label
      label width 10%
      color #C8C8C8
      float left
      display block
      padding 0
      margin 0
      padding-left 10px
      text-align left
      line-height 30px
    input[type='text'], textarea
      width 90%
      border none
      background transparent
  .row-description
    label
      display block
      width 100%
    textarea
      width 100%
  .row-submit, .row-description
    border none
    padding-top 4px
  input[type='submit']
    margin-right 10px
.zilch-msg
  padding 10px
  background white
  text-align center
  a
    font-weight 800
  a:hover
    border-bottom 1px silver dotted
  .smiley
    font-size 2em

#create-milestone-btn
  background #CF0018
  border-radius 15px
  font-weight bold
  line-height 30px
  padding 0 10px
  margin 0
  color white

.resource-list-wrapper
  background white
  padding 5px

.resource-list
  margin 0
  list-style-type none
  padding 0
  text-align left
  li
    display block
    border-bottom 1px dashed #E6E6E6
    padding 10px 0 0 0
    p, a
      margin 0
      margin 5px 0
    a
      color gray
    a:hover
      border-bottom 1px dotted gray
  li:last-child
    border-bottom none


