- content_for :head do
  = stylesheet_link_tag 'dashboard', media: "all"

- content_for :content do
  #dashboard
    %header
      .lfloat
        %h1
          %a{href: '/'} dexterous
      .rfloat
        %input#search-form{placeholder: 'search'}
        = link_to 'Create track', { controller: 'tracks', action: 'new' } , {class: 'prime'}
    .body
      = yield
    %footer
      dexterous is free software. &copy; 2014 Lorefnon 

= render template: 'layouts/application'
