- content_for :content do
  #l-side-nav
    %ul
      %li
        %a.home{href: 'home/tour'}
      %li
        %a.explore{href: 'home/explore'}
  #body
    = yield

= render template: "layouts/application"
